doctype html
html
  head
      block head
        title="GoodSeeds 🌱"
        link(rel='stylesheet' href='/stylesheets/index.css')
        script(src="/javascripts/index.js" type="module" defer)
  body
    container.main-nav
      div.logo-div
        span
          a(href="/" class="main-logo") GoodSeeds
        nav.left-nav
          span
            a(href="/users") Users and shelves
            a(href="/plants") Plants
            //- a(href=`/users/${user.id}/shelves`) My Shelves
      div
        nav.right-nav
          if locals.authenticated
            div.welcome-message-div
              div.welcome-message-inner-div
                a(href=`/users/${user.id}/shelves` class="welcome-message")
                  div.welcome-message-drop Hi, #{user.username}.
              div.welcome-message-inner-div
                a(href=`/users/${user.id}/shelves` class="welcome-message")
                  div Let's get planting.

              //- span.welcome-message Hi, #{user.username}. Let's get planting.
            //- span.spanTag Welcome, #{user.username}
            //- a(href="hello")
            div.navbar__account-oval
              a(href="/users/account" class="navbar__account-link") Your Account 👤
                ul.navbar__account-dropdown
                  li
                    form(action="/users/logout" method="post")
                      div.logout-button-div
                        button(type="submit" class="logout-button") Log Out
          else
            span.login-button-span
              a(href="/users/demo") Sign In As Demo User
              a(href="/users/login") Log in
              a(href="/users/signup") Sign Up
    div.main-body
      block content
