include utils.pug

doctype html
html
  head
      block head
        title="GoodSeeds 🌱"
        link(rel='stylesheet' href='/stylesheets/index.css')
        script(src="/javascripts/index.js" type="module" defer)
  body
    container.main-nav
      div.logo-div
        span
          a(href="/" class="main-logo")
            span#main-logo GoodSeeds
        nav.left-nav
          span.column-menu
            a(href="/users") Users and Shelves
            a(href="/plants") Plants
            if locals.authenticated
              a(href=`/users/${user.id}/shelves`) My Shelves
      div
        nav.right-nav
          if locals.authenticated
            div.welcome-message-div
              //- a(href=`/users/${user.id}/shelves` class="navbar__account-link")
              //-   div.welcome-message-drop Hi, #{user.username}!
              //- a(href=`/users/${user.id}/shelves` class="navbar__account-link")
              //-   div Let's get planting.
              a(href=`/users/${user.id}/shelves` id="dom-username-source" class="navbar__account-link") Hi, #{user.username}
              a(href=`/users/${user.id}/shelves` class="navbar__account-link") Let's get planting.

            div.navbar__account-oval
              a(href="/users/account" class="navbar__account-link navbar__account-link--large") Your Account 👤
                ul.navbar__account-dropdown
                  li
                    form(action="/users/logout" method="post")
                      div.logout-button-div
                        button(type="submit" class="logout-button") Log Out
          else
            span.login-button-span
              a(href="/users/demo") Sign In As A Demo User
              a(href="/users/login") Log In
              a(href="/users/signup") Sign Up
    div.main-body
      block content
    +footerHeight
    div.footergood
      a(class="footera" href="/Aboutus") About the developers
