extends layout.pug
include utils.pug
block content
  div.page-container
    dov.plant-top-container
      container.plant-id-container
          div#plant001
          div.plant-container__left-div
              div.plant-card
                img(src=`/images/plants/${plant.imgUrl}.jpeg`, alt="Picture goes here", class="plant-image")
                div
                    a(class="plant-name" href=`/plants/${plant.id}`)= plant.name
                div
                    p(class="plant-scientific-name")= plant.scientificName
      container.plant-container__right-div
        if locals.authenticated
          form(action=`/plants/${plant.id}`, method='post' class="plant-form")
            h1 Add This Plant To A Shelf
            p
            p
            p
            input(type='hidden' name='_csrf' value=csrfToken)
            label(for='selectedshelf') My Shelves
            div
              select(name='selectedshelf')
                option -- select one --
                each shelf in usersShelves
                  option(value=`${shelf.id}`)= `${shelf.name}`
            p
            p
            p
              button(type='submit' class="button__add-to-shelf" id='addtoshelf') Add To Shelf

    container.review-outer-container
      div.review-container
        div.review-header-container
          p(class='review-title') Reviews
        div(class="average-rating-display")= `Average rating: ${avgRating}/5`
        div(class="add-review-button")
          if locals.authenticated
            a(href=`/plants/${plant.id}/reviews` class="button__add-review") Add A Review
          else
            a(href=`/users/login` class="button__add-review") Add a Review (Login First!)
        each review in reviews
          div.review-div
            span
              if locals.authenticated
                a(href=`/users/${review.User.id}/shelves` class="clickable-username") #{review.User.username}
              else
                a(href=`/users/login` class="clickable-username") #{review.User.username}
            span  gave this plant #{review.rating} stars.
            p= review.reviewText
            div= `Reviewed on ${review.createdAt} `
            if locals.authenticated
              a(href=`/plants/reviews/delete/${review.id}` class='button__delete') Delete this Review
