extends layout.pug

include utils.pug

block content
  div.page-container
      container.plant-id-container
          div.plant-container__left-div
              div.plant-card
                  div.plant-image
                      img(src=plant.imgUrl, alt="Picture goes here")
                  div
                      a(class="plant-name" href=`/plants/${plant.id}`)= plant.name
                  div
                      p(class="plant-scientific-name")= plant.scientificName
      form(action=`/plants/${plant.id}`, method='post')
        div Add this plant to shelf
        input(type='hidden' name='_csrf' value=csrfToken)
        label(for='selectedshelf') My Shelves
        select(name='selectedshelf')
          option --select one--
          each shelf in usersShelves
            option(value=`${shelf.id}`)= `${shelf.name}`
        button(type='submit' class="button__add-to-shelf") Add To Shelf
      div= `Average rating: ${avgRating}/5`
      div Tags
      a(href=`/plants/${plant.id}/reviews` class="button__add-review") Add a Review
      div.plant-container__right-div
      container.review-container
        h1 Reviews
          each review in reviews
            div.review-div
              p
                a(href=`/users/${review.User.id}/shelves`) #{review.User.username}
                span  gave this plant #{review.rating} stars.
              p= review.reviewText
              a(href=`/plants/reviews/delete/${review.id}`) Delete this Review
