extends layout.pug

include utils.pug

block content
    div(class="search__container")
        form(action=`/plants/search` method="post" class='center-form')
            input(type='hidden' name='_csrf' value=csrfToken)
            input(class="search-bar" name='query' placeholder="Search by common or scientific name" value=query)
            button(type="submit" class="clickable-link") Search
        a(class="new-plant clickable-link" href=`/plants/new`) Add a plant
    container.main-plant-container
        if (plants.length === 0)
            div No results!
        else
            each plant in plants
                a(href=`/plants/${plant.id}`)
                    div(class="plant-card plant-card--hover")
                        img(src=plant.imgUrl, alt="Picture goes here", class="plant-image")
                        div
                            a(class="plant-name" href=`/plants/${plant.id}`)= plant.name
                        div
                            p(class="plant-scientific-name")= plant.scientificName
