extends layout.pug

include utils.pug

block content
    h1
    container.plant-container
        each plant in plants
            div(class="plant-card plant-card--hover")
                img(src=`/images/plants/${plant.imgUrl}.jpeg`, alt="Picture goes here", class="plant-image")
                div
                    a(class="plant-name" href=`/plants/${plant.id}`)= plant.name
                div
                    p(class="plant-scientific-name")= plant.scientificName

























    //- h1 Plants
    //- div
    //-     table
    //-         thead
    //-             tr
    //-                 th Common Name
    //-                 th Scientific Name
    //-                 th Image
    //-         tbody
    //-             each plant in plants
    //-                 tr
    //-                     td
    //-                         a(href=`./plants/${plant.id}`) #{plant.name}
    //-                     td= plant.scientificName
    //-                     td
    //-                         a(href=plant.imgUrl) #{plant.imgUrl}
