extends layout.pug
include utils.pug
block content
  div.page-container
    dov.plant-top-container
      container.plant-id-container
          div#plant001
          div.plant-container__left-div
              div.plant-card
                img(src=`/images/plants/${plant.imgUrl}.jpeg`, alt="Picture goes here", class="plant-image")
                div
                    a(class="plant-name" href=`/plants/${plant.id}`)= plant.name
                div
                    p(class="plant-scientific-name")= plant.scientificName
      container.plant-container__right-div
        div.center-form
          if locals.authenticated
            form(action=`/plants/${plant.id}`, method='post')
              h1 Add This Plant To A Shelf
              input(type='hidden' name='_csrf' value=csrfToken)
              div.center-form
                h2 My Shelves
                div
                  select(name='selectedshelf')
                    option -- select one --
                    each shelf in usersShelves
                      option(value=`${shelf.id}`)= `${shelf.name}`
                div
                  p
                  button(type='submit' class="button__add-to-shelf") Add To Shelf
          else
            h1 Want To Add To Your Shelf?
            a(href='/users/login' class='clickable-link') Log In
    container.review-outer-container
      div.review-container
        div.review-header-container
          h1 Reviews
        div= `Average rating: ${avgRating}/5`
        if locals.authenticated
          a(href=`/plants/${plant.id}/reviews` class="clickable-link") Add a Review
        else
          a(href=`/users/login` class="clickable-link") Want to add a review? Log In
        each review in reviews
          div.review-div
            span
              if locals.authenticated
                a(href=`/users/${review.User.id}/shelves` class="clickable-username") #{review.User.username}
              else
                a(href=`/users/login` class="clickable-username") #{review.User.username}
            span  gave this plant #{review.rating} stars.
            p= review.reviewText
            div= `Reviewed on ${review.createdAt} `
              if locals.authenticated
                span
                  a(href=`/plants/reviews/delete/${review.id}` class='clickable-link') Delete Review
