extends layout.pug

include utils.pug

block content
    div.shelf-container
        title= shelf.name
        div(class="shelfName") #{shelf.name}
            a(href=`/shelves/delete-shelf/${shelf.id}` role='button' class='clickable-link') Delete Shelf
        container.plant-container
          if plantsToShelves.length === 0
            a(href=`/plants` role='button' class='clickable-link') Add a plant to this shelf
          each reference in plantsToShelves
            div(class="plant-card")
              img(src=reference.Plant.imgUrl, alt="Picture goes here", class="plant-image")
              //- img(src=`/images/plants/${reference.Plant.imgUrl}.jpeg`, alt="Picture goes here", class="plant-image")
              div
                a(class='plant-name' href=`/plants/${reference.Plant.id}`)= reference.Plant.name
              div
                p(class="plant-scientific-name")= reference.Plant.scientificName
              div(name=`${reference.plantId}` value=`${reference.Plant.id}`)
              a(href=`/shelves/planttoshelf/${reference.id}` role='button' class='clickable-link') Delete Plant From This Shelf
              p
    p
    p
    div.comment-container
        h1 Comments
        div.comment-new-container
            form(class="comment-form")
                input(type='hidden' name='_csrf' value=csrfToken)
                div.comment-input-div
                    input(required name="user-comment" class="form-control" rows="5" cols="80" placeholder='Write a comment')
                    p
                    button(type='submit' value='Add Comment' id='addCommentButton' class="clickable-link gill-sans") Add Comment
        div.comment-list-container
            each comment in comments
                div.comment-div
                    p
                        a(href=`/users/${comment.User.id}/shelves` class='clickable-username') #{comment.User.username}
                        span  wrote:
                        p= comment.commentText
                        div= `Written on ${comment.createdAt} `
                          //- if comment.User.id === user.id
                          //-   span
                          //-     a.edit(href=`/plants/reviews/edit/` class='clickable-link') ✏️
                          //-     a.edit(href=`/plants/reviews/delete/` class='clickable-link') 🗑️
