extends layout.pug

include utils.pug

block content
    title= shelf.name
    div.shelfName #{shelf.name}
    container.plant-container
        each reference in plantsToShelves
            div.plant-card
                div.plant-image
                    img(src=reference.Plant.imgUrl, alt="Picture goes here")
                div
                    a(href=`/plants/${reference.Plant.id}`)= reference.Plant.name
                div
                    span(id="plantIdSpan" value=`${reference.Plant.id}`)
                div
                    p= reference.Plant.scientificName
                div(value=`${reference.Plant.id}`)
                  form 
                    button(type="submit" id="shelfDelButton") Remove This Plant From Shelf
