extends layout.pug

include utils.pug

block content
    div.shelf-container
        title= shelf.name
        div.shelfName #{shelf.name}
            a(href=`/shelves/delete-shelf/${shelf.id}` role='button') Delete Shelf
        container.plant-container
          each reference in plantsToShelves
            div.plant-card
              div.plant-image
                    img(src=`/images/plants/${reference.Plant.imgUrl}.jpeg`, alt="Picture goes here", class="plant-img")
              div
                a(href=`/plants/${reference.Plant.id}`)= reference.Plant.name
              div
                p= reference.Plant.scientificName
              div(name=`${reference.plantId}` value=`${reference.Plant.id}`)
                a(href=`/shelves/planttoshelf/${reference.id}` role='button') Delete Plant from this shelf
    div.comment-container
        h1 Comments
        div.comment-new-container
            form(class="comment-form")
                input(type='hidden' name='_csrf' value=csrfToken)
                div.comment-input-div
                    textarea(required name="user-comment" id="user-comment" class="user-comment" placeholder=" Add a comment... ")
                    button(type='submit' value='Add Comment' id='button__add-comment') Add Comment
        div.comment-list-container
            each comment in comments
                div.comment-div
                    p
                        span= `On ${comment.createdAt} `
                        a(href=`/users/${comment.User.id}/shelves`) #{comment.User.username}
                        span  wrote:
                    p= comment.commentText
