extends layout.pug

include utils.pug

block content
    div.shelf-container
        title= shelf.name
        div.shelfName #{shelf.name}
            a(href=`/shelves/delete-shelf/${shelf.id}` role='button' class='clickable-link') Delete Shelf
        container.plant-container
          each reference in plantsToShelves
            div(class="plant-card")
              img(src=`/images/plants/${reference.Plant.imgUrl}.jpeg`, alt="Picture goes here", class="plant-image")
              div
                a(class='plant-name' href=`/plants/${reference.Plant.id}`)= reference.Plant.name
              div
                p(class="plant-scientific-name")= reference.Plant.scientificName
              div(name=`${reference.plantId}` value=`${reference.Plant.id}`)
              a(href=`/shelves/planttoshelf/${reference.id}` role='button' class='clickable-link') Delete Plant From This Shelf
              p
    p
    p
    div.comment-container
        h1 Comments
        div.comment-new-container
            form(class="comment-form")
                input(type='hidden' name='_csrf' value=csrfToken)
                div.comment-input-div
                    input(required name="user-comment" class="form-control " rows="5" cols="80" placeholder='Write a comment')
                    p
                    input(type='submit' value='Add Comment' id='addCommentButton')
        div.comment-list-container
            each comment in comments
                div.comment-div
                    p
                        a(href=`/users/${comment.User.id}/shelves` class='clickable-username') #{comment.User.username}
                        span  wrote:
                        p= comment.commentText
                        div= `Written on ${comment.createdAt} `
