extends layout.pug

include utils.pug

block content
    table
        thead
            tr
                th #{tempUser.username}'s Shelves
        tbody
            each shelf in shelves
                tr
                    td
                        a(href=`../../shelves/${shelf.id}`) #{shelf.name}
    form(action='/shelves' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        input(type='hidden' id='userId' name='userId' value=`${tempUser.id}`)
        label(for='name') Shelf Name
        input(name='name' id='name')
        button(type='submit') Add a Shelf
