extends layout.pug

include utils.pug

block content
  container.account-window__container
    div.account-window_profile-image-info-container
      div.account-window__profile-img-div
        if user.imgUrl
          img(src=user.imgUrl alt="profile image goes here" class='account-window__profile-img')
        else
          img(src='/images/profile/profile-pic.jpeg' alt="profile image goes here" id="profile-pic-placeholder" class='account-window__profile-img')
      a(href='./account/edit' class='clickable-link') Change Profile Image
      //- button.account-window__image-button Change Profile Image
    div.account-window__details-container
      div.account-window__details-header-div
        h1 Your Account
      a(href='./account/edit' class='edit-link')
        div.account-window__detail-div
          div
            p.account-window__details-key Username:
            p(class="account-window__details-value")=user.username
          div ✏️...
      a(href='./account/edit' class='edit-link')
        div.account-window__detail-div
          div
            p.account-window__details-key First name:
            p(class="account-window__details-value")=user.firstName
          div ✏️...

      a(href='./account/edit' class='edit-link')
        div.account-window__detail-div
          div
            p.account-window__details-key Last name:
            p(class="account-window__details-value")=user.lastName
          div ✏️...
      a(href='./account/edit' class='edit-link')
        div.account-window__detail-div
          div
            p.account-window__details-key Email:
            p(class="account-window__details-value")=user.email
          div ✏️...
      a(href='./account/delete' class='clickable-link').account-window__delete-button Delete your account
  +footerHeight
