extends layout.pug

include utils.pug

block content
    div.container__add-to-shelf
        table
            thead
                th #{userToDisplay.username}'s Shelves
                th Want to Add Plants To A Shelf?
            tbody
                if shelves
                    each shelf in shelves
                        tr
                            td.flex-container__center-center
                                a(href=`../../shelves/${shelf.id}` class="clickable-link") #{shelf.name}
                            td
                                div.flex-container__center-x
                                    a(href="../../plants" class="add-plants-link") Browse Plants
                else
                    tr No Shelves!
        p
        form(action='/shelves' method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            input(type='hidden' id='userId' name='userId' value=`${loggedInUser.id}`)
            div.center-form
                h1 Create a Shelf
                div
                    p
                    input(name='name' id='name' placeholder='Shelf Name' required)
                div
                    p
                    button(type='submit') Create Shelf
