mixin field(labelText, fieldName, fieldValue, fieldType = 'text')
  div(class='form-group')
    //- div
    label(for=fieldName class="form-labels")= labelText
    //- div
    input(type=fieldType id=fieldName name=fieldName value=fieldValue class='form-control')

mixin validationErrorSummary(errors)
  if errors
    div(class='errors-container')
      div(class='form-errors')
        ul
          each error in errors
            li= error


mixin footerHeight
  div(id='footer-height')
